# Node modules
/node_modules

# Build outputs
/dist
/build
.cache

# Logs
yarn-error.log
npm-debug.log*
pnpm-debug.log*

# Local environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.template

# OS files
.DS_Store

# IDE / editor
.idea
.vscode

# Coverage / testing
coverage

# Yarn cache and metadata
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Medusa files
!.medusa
medusa-db.sql

# Uploaded files
/uploads

# TypeScript build info
tsconfig.tsbuildinfo

# Include source folder
!src/**

